

.header{
    background-color: #bb39551a;
}
.header-container{
    margin: 0px 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
}
.sms{
    width: 708px;
}
.text1{
    color: #291919;
    font-size: 70px;
    font-weight: 800;
}
.pera{
    color: rgba(87, 82, 82, 0.6);
    font-size: 17px;
    font-weight: 390;
    line-height: 25px;
    margin: 30px 0px;
}
.button{
    color: aliceblue;
    border-radius: 8px;
    background: #ec043a;
    padding: 25px 45px;
    border: none;
}
.ph{
    width: 600px;
    height: 650px;

}
/* Main part  */
.flower-section{
    margin: 100px 110px;
}
.flo-container h3{
    color: #0d0101;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
}
.flo-container p{
    color: rgba(21, 5, 5, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.fl-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.b1 img{
    border-radius: 300px 300px 0px 0px ;
}
.b2 img{
    border-radius: 300px 300px 0px 0px ;
}
.b3 img{
    border-radius: 300px 300px 0px 0px ;
}
.b1 img{
    background-color: #477d1126;
}
.b2 img{
    background-color: #0597a026;
}
.b3 img{
    background-color: #477d1126;
}
.fl-container a {
    display: block;
    text-align: center;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
/* .fl-container img { */
    width: 300px;
    height: 300px;
    padding: 100px 47px 57px 47px;
    margin: 40px 10px 0px 10px;
}